<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yoyiyi.honglv"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_me"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <meta-data
            android:name="com.yoyiyi.honglv.ui.widget.GlideConfiguration"
            android:value="GlideModule"/>
        <meta-data
            android:name="QBSDKAppKey"
            android:value="Fu5MC2T4Ft++CqJXq3vjVri1"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58137a427666135fa9001bb7"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="MINGYOU"/>
        <!-- AppStart-->
        <activity
            android:name=".AppStart"
            android:label="@string/app_name"
            android:screenOrientation="portrait"

            android:theme="@style/ColorTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--首页-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityColorTranslucentTheme"/>
        <activity android:name=".ui.activity.BrowserActivity"/>
        <!--专题-->
        <activity
            android:name=".ui.activity.TopicActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--热门-->
        <activity
            android:name=".ui.activity.another.HotActivity"
            android:screenOrientation="portrait"/>
        <!--左滑动列表 显示界面-->
        <activity
            android:name=".ui.activity.another.AnotherActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--热门-->
        <activity
            android:name=".ui.activity.HotMoreActivity"
            android:screenOrientation="portrait"/>
        <!--播放 未实现-->
        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--浏览器-->
        <activity
            android:name=".ui.activity.TBSBrowerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
        </activity>
        <!--番剧详情-->
        <activity
            android:name=".ui.activity.BangumiDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
        </activity>
        <!--新闻详情 API参数错误-->
        <activity
            android:name=".ui.activity.NewsDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
        </activity>
        <!--关于我-->
        <activity android:name=".ui.activity.AboutActivity"/>

    </application>

</manifest>